# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual Envs
.env
.venv/

# Objects
data/
models/
outputs/
*.csv
*.zip
*.npz
*.pt
*.bkp
.idea/
*.egg-info/

# MacOS
.DS_Store
**.DS_Store

# Allow for ML data directory to be visible
!data/
!data/MLInputs