[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google = "*"
pandas = "*"
mypy = "*"
pytest = "*"
geopandas = "*"
mapclassify = "*"
folium = "*"
leafmap = "*"
ee = "*"
geemap = "*"
# pygrib = "*"
# Required only for:
# - transform_grib_to_csv()
# - Initial FWI preprocessing pipeline
# Not required for:
# - Sentinel processing
# - ResNet18 feature extraction
# - Model training/evaluation
# Fails to install on Windows.
xarray = "*"
cdsapi = "*"
opencv-python = "*"
tifffile = "*"
scikit-image = "*"
seaborn = "*"
mscprojectwildfirepredict = {file = ".", editable = true}
matplotlib = "*"
torch = "*"
torchvision = "*"

[dev-packages]
pandas-stubs = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
