[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google = "*"
pandas = "*"
mypy = "*"
pytest = "*"
geopandas = "*"
mapclassify = "*"
folium = "*"
leafmap = "*"
ee = "*"
geemap = "*"
xarray = "*"
cdsapi = "*"
opencv-python = "*"
tifffile = "*"
scikit-image = "*"
seaborn = "*"
mscprojectwildfirepredict = {file = ".", editable = true}
matplotlib = "*"
torch = "*"
torchvision = "*"
docx = "*"
python-docx = "*"
geodatasets = "*"

[dev-packages]
pandas-stubs = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
