[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google = "*"
pandas = "*"
mypy = "*"
pytest = "*"
mscprojectwildfirepredict = {file = ".", editable = true}
geopandas = "*"
matplotlib = "*"
mapclassify = "*"
folium = "*"
leafmap = "*"
ee = "*"
geemap = "*"
pygrib = "*"
xarray = "*"
cdsapi = "*"

[dev-packages]
ipykernel = "*"
pandas-stubs = "*"

[requires]
python_vers